/** 
Please don't pay attention to components styling, 
i implemented them really quickly all in one file just for test
in this project we comparing the state management */

.notes-list {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    flex: 1;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.2);
    max-height: calc(100% - 80px);
}

.nodes-list-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.note-list-toolbar {
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgba(128, 128, 128, 0.452);
    padding: 0px;
    position: relative;
}

.note-input {
    flex: 1;
    border: none;
    padding: 10px 80px 10px 10px;
    outline: none;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.1);
    transition: 0.33s;
}

.note-input:focus {
    background-color: rgba(128, 128, 128, 0.452);
}

.checked-items-container {
    position: absolute;
    background: linear-gradient(to right, transparent, #9198e5);
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    text-align: right;
}

.checked-items-delete-btn {
    height: 30px;
    margin: 8px;
    border: none;
    cursor: pointer;
}

.list-stats {
    text-align: right;
    font-size: 14px;
    padding: 0 20px 10px 0;
}

.note-item {
    background-color: #f2f3c3;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.3) inset;
    position: relative;
    cursor: pointer;
    border: none;
    font-size: 20px;
    text-align: left;
    outline: none;
    transition: 0.33s;
}

.note-item:hover {
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.2) inset;
}

.checkbox-container {
    position: absolute;
    top: 0px;
    right: 10px;
    opacity: 0;
    transition: 0.33s;
}

.checkbox-container.checked, .note-item:hover .checkbox-container {
    opacity: 1;
}

.selected-note-drawer {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 10px;
    box-shadow: 0 0 100px black;
    background: white;
    display: flex;
    flex-direction: column;
}

.selected-note-text {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
}

.selected-note-color-picker {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.fade-enter {
    z-index: 1;
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: 330ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: 330ms;
}